<button nz-button (click)="addNewEvent()" nzType="primary">Add event</button>
<nz-table #basicTable 
nzShowPagination
[nzPageSize]="8"
[nzData]="events">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Points</th>
        <th>Organizer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.location }}</td>
        <td>{{ data.startDate | date }}</td>
        <td>{{ data.endDate | date }}</td>
        <td>{{ data.points }}</td>
        <td>{{ data.organizer.firstName}}</td>
        <td>
          <span nz-icon nzType="edit" nzTheme="outline" (click)="editEvent(data)"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <h2>Textul urmator este DOAR un DEADLINE: 30.04.2023</h2>